/*---- Google fonts ----*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Removes all margins & Padding on everything so they can be fully customised */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---- Body ----*/
body {
    background: url(../images/kung-fu-panda.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    font-family: "comic neue", cursive;
    background-color: #fff;
    color: #091f34;
    font-size: 1.2rem;
    line-height: 1.6;
    display: grid;
    place-items: center;
}


/*---- Header container----*/
#h1-container {
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 40%;
    height: 6rem;
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

#h1-container:hover {
    transform: scale(1.1);
}


/*---- Logo ----*/
#logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/*---- Header link to home page ----*/
a {
    text-decoration: none;
}

/*---- Content Container ----*/
.content-body {
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 10% 0;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}


/*---- Heading & Text ----*/
h1 {
    color: #091f34;
    font-family: 'comic neue', cursive;
    font-weight: 900;
    font-size: 3.5rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0);
}

h2 {
    font-family: 'comic neue', cursive;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-family: 'comic neue', cursive;
    font-weight: 900;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

p {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 20px;
}


/*---- Buttons ----*/

.btn {
    display: inline-block;
    background-color: #091f34;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #091f34;
    border: 2px solid #091f34;
}

/*---- Buttons on home page ----*/
.welcome-btn {
    width: 40%;
    margin: 2%;
}

/*---- Settings close button ----*/
.settings-close {
    width: 20%;
}

/*---- Power button on all pages----*/
.close-button {
    position: absolute;
    background-color: #091f34;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.close-button:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #091f34;
    border: 2px solid #091f34;
}

.close-button i {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    position: relative;
    margin: 0;
    padding: 0;
}


/*---- Difficulty level buttons on difficulty page ----*/

.difficulty-button {
    width: 40%;
    height: 50px;
    border-radius: 20%;
    margin-bottom: 20px;
}

/*---- Difficulty level buttons container ----*/
.difficulty-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

/*---- Difficulty Header ----*/
.difficulty-header {
    display: flex;
    justify-content: end;
    padding: 0 15%;
}

/*---- Game page button container ----*/
.answer-btn {
    width: 80%;
    height: 50px;
    margin-bottom: 8%;
}


/*---- Exit buttons on the exit game page----*/
.exit-button {
    width: 20%;
    margin-bottom: 20px;
}

/*---- Clear High Scores Button on the high score page ----*/
.clear-button {
    width: 20%;
}

/*---- End Game Button ----*/
.end-btn {
    width: 40%;
}


/*---- Content header on highscore and game setting page----*/
.score-header {
    display: flex;
    justify-content: end;
    padding: 0 20%;
}


/*---- Form elements on settings page----*/
input {
    width: 20px;
    height: 20px;
    margin: 0 200px;
    background-color: #091f34;
}

label {
    margin-left: 200px;
}

/*----MEDIA QUERIES----*/

/*---------- Styling for screens with (min-width: 320px) and (max-width: 389px)----------*/