/*---- Google fonts ----*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'):root {
    --content-text: 'Comic Neue', cursive;
    --info-text: 'Roboto', sans-serif;
    /*------- Colours ------*/
    --color: #091f34, #fff;
}

/* Removes all margins & Padding on everything so they can be fully customised */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---- Body ----*/
body {
    background: url(../images/kung-fu-panda.jpg);
    position: relative;
    background-size: cover;
    font-family: "comic neue", cursive;
    background-color: #fff;
    color: #091f34;
    font-size: 1.2rem;
    line-height: 1.6;
}

/*---- Header container----*/
#h1-container {
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    margin: 0 530px;
    transition: transform 0.3s ease-in-out;
}

#h1-container:hover {
    transform: scale(1.1);
}


/*---- Heading & Text ----*/
h1 {
    color: #091f34;
    font-family: 'comic neue', cursive;
    font-weight: 900;
    font-size: 3.5rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}


h2 {
    font-family: 'comic neue', cursive;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-family: 'comic neue', cursive;
    font-weight: 900;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

p {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

/*---- Semantic Header ----*/
/*---- Header Container----*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

/*---- Logo ----*/
#logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/*---- Semantic Section ----*/
/*---- Content ----*/
.content-background {
    padding: 40px;
    margin: 80px 200px 0 200px;
    border-radius: 10px;
    width: auto;
    height: auto;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
}

.content-body {
    position: relative;
}

.content-body h2,
.content-body h3,
.content-body p {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0);
}

/*---- Difficulty Header ----*/
.difficulty-header {
    display: flex;
    justify-content: end;
    padding: 5px 100px;
}

/*---- Buttons ----*/

.btn {
    display: inline-block;
    background-color: #091f34;
    border: none;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #091f34;
    border: 2px solid #091f34;
}

/*---- Welcome button ----*/
.welcome-btn {
    width: 200px;
    margin: 15px 200px;
}

/*---- Settings close button ----*/
.settings-close {
    width: 200px;
    margin-left: 30px;
}

/*---- Close button ----*/
.close-button {
    position: absolute;
    background-color: #091f34;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.close-button:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #091f34;
    border: 2px solid #091f34;
}

.close-button i {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    position: relative;
    margin: 0;
    padding: 0;
}


/*---- Difficulty level buttons ----*/

.difficulty-button {
    padding: 0 450px;
    height: 50px;
    border-radius: 20%;
    margin-bottom: 20px;
}

/*---- Answer Buttons ----*/
.answer-btn {
    width: 500px;
    height: 50px;
    margin-bottom: 30px;
}

/*---- Exit buttons ----*/
.exit-button {
    width: 200px;
    margin-bottom: 20px;
}

/*---- Clear High Scores Button ----*/
.clear-button {
    width: 200px;
}

/*---- End Game Button ----*/
.end-btn {
    width: 200px;
}

/*---- Quiz question ----*/
#question-no {
    text-align: left;
}

/*---- Score board ----*/
#score {
    text-align: left;
}

/*---- High score header----*/
.score-header {
    display: flex;
    justify-content: right;
    padding: 5px 240px 5px 0;
}

/*---- Sound effects settings ----*/
input {
    width: 20px;
    height: 20px;
    margin: 0 200px;
    background-color: #091f34;
}

label {
    margin-left: 200px;
}

/*----MEDIA QUERIES----*/

/*---------- Styling for screens with (max-width: 320px) ----------*/
@media (max-width: 320px) {

    /*---- Body ----*/
    body {
        background: url(../images/kung-fu-panda.jpg);
        background-position: top;
        background-repeat: no-repeat;
        font-family: "comic neue", cursive;
        background-color: #fff;
        color: #091f34;
        font-size: 1.2rem;
        line-height: 1.6;
    }

    /*---- Header container----*/
    #h1-container,
    .content-background {
        margin: 0 10px;
        padding: 20px;
        height: 100px;
    }

    #h1-container h1 {
        font-size: 1.5rem;
    }

    /*---- Semantic Section ----*/
    .content-background {
        height: auto;
        margin-top: 50px;
    }


    /*---- Buttons ----*/
    .btn,
    .welcome-btn,
    .answer-btn,
    .settings-close,
    .close-button,
    .difficulty-button,
    .exit-button,
    .clear-button,
    .end-btn {
        width: 200px;
        margin: 10px 0;
        font-size: 1rem;
    }

    .difficulty-header,
    .score-header {
        padding: 5px 10px;
    }

    .difficulty-header {
        padding: 5px 0;
    }

    #mq-heading {
        padding: 5px 20px;
    }

    #mq-heading-2 {
        padding: 5px 20px;
    }


    .difficulty-button {
        padding: 0;
    }

    .difficulty-button-container {
        padding-left: 20px;
    }


    .close-button {
        width: 40px;
        height: 40px;
    }

    .close-button i {
        font-size: 1.5rem;
    }

    #cls-btn {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*---- Game page button container ----*/
    .btn-row {
        display: block;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }

    /*answer buttons*/
    .answer-btn {
        width: 200px;
        height: 40px;
        margin: 10px 0 0 0px;
        font-size: 1.2rem;
    }

    /*---- Headings & Text ----*/
    h1,
    h2,
    h3,
    p {
        font-size: 80%;
    }

    .how-to-play-p {
        margin: 20px 0;
    }

    h2 {
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    /*---- Logo ----*/
    #logo {
        width: 80px;
        height: 80px;
    }

    label {
        margin: 20px 0 0 0;
    }

    input {
        margin: 30px 0 0 80px;
    }

}


/*---------- Styling for screens with (min-width: 390px) and (max-width: 575px) ----------*/
@media (min-width: 390px) and (max-width: 575px) {

    /*---- Body ----*/
    body {
        background: url(../images/kung-fu-panda.jpg);
        background-position: top;
        background-repeat: no-repeat;
        font-family: "comic neue", cursive;
        background-color: #fff;
        color: #091f34;
        font-size: 1.2rem;
        line-height: 1.6;
    }

    /*---- Header container----*/
    #h1-container,
    .content-background {
        margin: 0 10px;
        padding: 20px;
        height: 100px;
    }

    #h1-container h1 {
        font-size: 2rem;
    }

    /*---- Semantic Section ----*/
    .content-background {
        height: auto;
        margin-top: 50px;
    }


    /*---- Buttons ----*/
    .btn,
    .welcome-btn,
    .answer-btn,
    .settings-close,
    .close-button,
    .difficulty-button,
    .exit-button,
    .clear-button,
    .end-btn {
        width: 200px;
        margin: 10px 0;
        font-size: 1rem;
    }

    .difficulty-header,
    .score-header {
        padding: 5px 10px;
    }

    .difficulty-header {
        padding: 5px 0;
    }

    #mq-heading {
        padding: 5px 40px;
    }

    #mq-heading-2 {
        padding: 5px 20px;
    }


    .difficulty-button {
        padding: 0;
    }

    .difficulty-button-container {
        padding-left: 40px;
    }


    .close-button {
        width: 40px;
        height: 40px;
    }

    .close-button i {
        font-size: 1.5rem;
    }

    #cls-btn {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*---- Game page button container ----*/
    .btn-row {
        display: block;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }

    /*answer buttons*/
    .answer-btn {
        width: 200px;
        height: 40px;
        margin: 10px 0 0 30px;
        font-size: 1.2rem;
    }

    /*---- Headings & Text ----*/
    h1,
    h2,
    h3,
    p {
        font-size: 80%;
    }

    h2 {
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    /*---- Logo ----*/
    #logo {
        width: 80px;
        height: 80px;
    }

    label {
        margin: 20px 0 0 0;
    }

    input {
        margin: 30px 0 0 80px;
    }

}

/*---------- Styling for screens with (min-width: 576px) and (max-width: 766px) ----------*/
@media (min-width: 576px) and (max-width: 766px) {

    /*---- Body ----*/
    body {
        background: url(../images/kung-fu-panda.jpg);
        background-position: top;
        background-repeat: no-repeat;
        font-family: "comic neue", cursive;
        background-color: #fff;
        color: #091f34;
        font-size: 1.2rem;
        line-height: 1.6;
    }

    /*---- Header container----*/
    #h1-container,
    .content-background {
        margin: 0 10px;
        padding: 20px;
        height: 100px;
    }

    #h1-container h1 {
        font-size: 2.2rem;
    }

    /*---- Semantic Section ----*/
    .content-background {
        height: auto;
        margin-top: 50px;
    }


    /*---- Buttons ----*/
    .btn,
    .welcome-btn,
    .answer-btn,
    .settings-close,
    .close-button,
    .difficulty-button,
    .exit-button,
    .clear-button,
    .end-btn {
        width: 200px;
        margin: 10px 0;
        font-size: 1rem;
    }

    .difficulty-header,
    .score-header {
        padding: 5px 60px;
    }

    .how-to-play-p {
        margin: 20px 0;
    }

    .difficulty-header {
        padding: 5px 0;
    }


    .difficulty-button {
        padding: 0;
    }

    .difficulty-button-container {
        padding-left: 150px;
    }


    .close-button {
        width: 40px;
        height: 40px;
    }

    .close-button i {
        font-size: 1.5rem;
    }

    #cls-btn {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*---- Game page button container ----*/
    .btn-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 50px;
    }

    /*answer buttons*/
    .answer-btn {
        width: 200px;
        height: 40px;
        margin: 10px 0 0 30px;
    }

    /*---- Headings & Text ----*/
    h1,
    h2,
    h3,
    p {
        font-size: 100%;
    }

    h2 {
        margin-bottom: 0;
    }

    /*---- Logo ----*/
    #logo {
        width: 80px;
        height: 80px;
    }

    label {
        margin: 20px 0 0 0;
    }

    input {
        margin: 30px 0 0 80px;
    }
}

/*---------- Styling for screens with (min-width: 768px) and (max-width: 820px) ----------*/
@media (min-width: 768px) and (max-width: 820px) {

    /*---- Body ----*/
    body {
        background: url(../images/kung-fu-panda.jpg);
        background-position: top;
        background-repeat: no-repeat;
        font-family: "comic neue", cursive;
        background-color: #fff;
        color: #091f34;
        font-size: 1.2rem;
        line-height: 1.6;
    }

    /*---- Header container----*/
    #h1-container {
        margin: 0 100px;    
    }


    .content-background {
        margin: 0 20px;
        padding: 20px;
        height: 100px;
    }

    #h1-container h1 {
        font-size: 2.8rem;
    }

    /*---- Semantic Section ----*/
    .content-background {
        height: auto;
        margin-top: 50px;
    }


    /*---- Buttons ----*/
    .btn,
    .welcome-btn,
    .answer-btn,
    .settings-close,
    .close-button,
    .difficulty-button,
    .exit-button,
    .clear-button,
    .end-btn {
        width: 200px;
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .difficulty-header,
    .score-header {
        padding: 5px 110px;
    }

    #mq-heading {
        padding: 5px 130px;
    }

    .how-to-play-p {
        margin: 20px 0;
    }

    .difficulty-header {
        padding: 5px 60px 5px 0;
    }


    .difficulty-button {
        padding: 0;
    }

    .difficulty-button-container {
        padding-left: 230px;
    }


    .close-button {
        width: 40px;
        height: 40px;
    }

    .close-button i {
        font-size: 1.5rem;
    }

    #cls-btn {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*---- Game page button container ----*/
    .btn-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 50px;
    }

    /*answer buttons*/
    .answer-btn {
        width: 200px;
        height: 40px;
        margin: 10px 0 0 30px;
    }

    /*---- Headings & Text ----*/
    h1,
    h2,
    h3,
    p {
        font-size: 100%;
    }

    h2 {
        margin-bottom: 0;
    }

    /*---- Logo ----*/
    #logo {
        width: 80px;
        height: 80px;
    }

    label {
        margin: 20px 0 0 0;
    }

    input {
        margin: 30px 0 0 80px;
    }

}

/*---------- Styling for screens with (min-width: 821px) and (max-width: 1024px) ----------*/
@media (min-width: 821px) and (max-width: 1024px) {

    /*---- Body ----*/
    body {
        background: url(../images/kung-fu-panda.jpg);
        background-position: top;
        background-repeat: no-repeat;
        font-family: "comic neue", cursive;
        background-color: #fff;
        color: #091f34;
        font-size: 1.4rem;
        line-height: 1.6;
    }

    /*---- Header container----*/
    #h1-container,
    .content-background {
        margin: 0 10px;
        padding: 20px;
        height: 100px;
    }

    #h1-container h1 {
        font-size: 3rem;
    }

    /*---- Semantic Section ----*/
    .content-background {
        height: auto;
        margin-top: 50px;
    }


    /*---- Buttons ----*/
    .btn,
    .welcome-btn,
    .answer-btn,
    .settings-close,
    .close-button,
    .difficulty-button,
    .exit-button,
    .clear-button,
    .end-btn {
        width: 200px;
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .difficulty-header,
    .score-header {
        padding: 5px 95px;
    }

    .how-to-play-p {
        margin: 20px 0;
    }

    .difficulty-header {
        padding: 5px 40px 5px 0;
    }


    .difficulty-button {
        padding: 0;
    }

    .difficulty-button-container {
        padding-left: 230px;
    }


    .close-button {
        width: 40px;
        height: 40px;
    }

    .close-button i {
        font-size: 1.5rem;
    }

    #cls-btn {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*---- Game page button container ----*/
    .btn-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 50px;
    }

    /*answer buttons*/
    .answer-btn {
        width: 200px;
        height: 40px;
        margin: 10px 0 0 30px;
    }

    /*---- Headings & Text ----*/
    h1,
    h2,
    h3,
    p {
        font-size: 100%;
    }

    h2 {
        margin-bottom: 0;
    }

    /*---- Logo ----*/
    #logo {
        width: 80px;
        height: 80px;
    }

    label {
        margin: 20px 0 0 0;
    }

    input {
        margin: 30px 0 0 80px;
    }

}

/*---------- Styling for screens with (min-width: 1025px) ----------*/
@media (min-width: 1025px) {

    /*---- Body ----*/
    body {
        background: url(../images/kung-fu-panda.jpg);
        background-position: top;
        background-repeat: no-repeat;
        font-family: "comic neue", cursive;
        background-color: #fff;
        color: #091f34;
        font-size: 1.2rem;
        line-height: 1.6;
    }

    /*---- Header container----*/
    #h1-container,
    .content-background {
        height: 100px;
    }

    #h1-container h1 {
        font-size: 3rem;
    }

    /*---- Semantic Section ----*/
    .content-background {
        height: auto;
        margin: 50px;
    }


    /*---- Buttons ----*/

    .score-header {
        padding: 5px 200px;
    }

    #mq-heading {
        padding: 5px 200px;
    }

    #mq-heading-2 {
        padding: 5px 250px;
    }

    .how-to-play-p {
        margin: 5px 0 20px 0;
    }

    .difficulty-header {
        padding: 5px 40px 5px 0;
    }


    .difficulty-button {
        padding: 0;
    }

    .difficulty-button-container {
        padding-left: 340px;
    }


    .close-button {
        width: 40px;
        height: 40px;
    }

    .close-button i {
        font-size: 1.5rem;
    }

    #cls-btn {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*---- Game page button container ----*/
    .btn-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 50px;
    }


    /*---- Headings & Text ----*/


    h2 {
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .content-background h2 {
        font-size: 1.8rem;
    }

    .content-background p {
        font-size: 1.4rem;
    }

    /*---- Logo ----*/
    #logo {
        width: 80px;
        height: 80px;
    }

    label {
        margin: 20px 0 0 0;
    }

    input {
        margin: 30px 0 0 100px;
    }

}


/*---------- Styling for screens with (min-width: 1280px) ----------*/
@media (min-width: 1280px) {

    /*---- Header container----*/
    #h1-container {
        margin: 0 350px;
    }

    .welcome-btn {
        margin: 15px 0;
    }

    .score-header {
        padding: 5px 170px;
    }

    #mq-heading {
        padding: 5px 40px;
    }

    #mq-heading-2 {
        padding: 5px 190px;
    }
}