/*---- Google fonts ----*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #091f34;
    --secondary-color: #fff;
}

/* Removes all margins & Padding on everything so they can be fully customised */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---- Body ----*/
body {
    background: url(../images/kung-fu-panda.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    font-family: "comic neue", cursive;
    background-color: #fff;
    color: #091f34;
    font-size: 1.2rem;
    line-height: 1.6;
    display: grid;
    place-items: center;
}


/*---- Header container----*/
#h1-container {
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 40%;
    height: 6rem;
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

#h1-container:hover {
    transform: scale(1.1);
}


/*---- Logo ----*/
#logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/*---- Header link to home page ----*/
a {
    text-decoration: none;
}

/*---- Content Container ----*/
.content-body {
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 10% 0;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}


/*---- Heading & Text ----*/
h1 {
    color: #091f34;
    font-family: 'comic neue', cursive;
    font-weight: 900;
    font-size: 3.5rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0);
}

h2 {
    font-family: 'comic neue', cursive;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-family: 'comic neue', cursive;
    font-weight: 900;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 20px;
}


/*---- Buttons ----*/

.btn {
    display: inline-block;
    background-color: #091f34;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #091f34;
    border: 2px solid #091f34;
}



.hide {
    display: none;
}

/*---- Buttons on home page ----*/
.welcome-btn {
    width: 40%;
    margin: 2%;
}

/*---- Settings close button ----*/
.settings-close {
    width: 20%;
}

/*---- Power button on all pages----*/
.close-button {
    position: absolute;
    background-color: #091f34;
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.close-button:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #091f34;
    border: 2px solid #091f34;
}

.close-button i {
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    position: relative;
    margin: 0;
    padding: 0;
}


/*---- Difficulty level buttons on difficulty page ----*/

.difficulty-button {
    width: 40%;
    height: 50px;
    border-radius: 20%;
    margin-bottom: 20px;
}

/*---- Difficulty level buttons container ----*/
.difficulty-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

/*---- Difficulty Header ----*/
.difficulty-header {
    display: flex;
    justify-content: end;
    padding: 0 15%;
}

/*---- Game page question number heading ----*/
#question-no {
    display: flex;
    justify-self: flex-start;
    padding: 0 0 0 5%;
}

/*---- Game page timer-board container ----*/
.timer-board {
    margin: 5% 0 0 0;
    height: 1%;
}

/*---- Game page score container ----*/
.score-count {
    display: flex;
    justify-content: flex-start;
    padding: 0 5% 0 0;
    gap: 20px;
}


/*---- Game page HUD container ----*/
#hud-q {
    display: flex;
    justify-content: flex-start;
}

/*---- Game page question container ----*/
#questionCounter {
    display: flex;
    justify-content: flex-end;
}


/*---- Game page timer container ----*/
.timer {
    display: flex;
    justify-content: flex-end;

}

/*---- Game page question container ----*/
.quiz-info {
    margin: 5% 0;
}

/*---- Game page progress bar container ----*/
#progressBar {
    width: 100%;
    height: 10px;
    border: 0.1rem solid #091f34;
    border-radius: 10px;
    margin: 2% 0;
}

#progressBarFull {
    background-color: #091f34;
    width: 0%;
    height: 100%;
    border-radius: 10px;
}

/*---- Game page button container ----*/
.answer-btn {
    width: 80%;
    height: 50px;
    margin-bottom: 8%;
}

.answer-btn.correct {
    background-color: #10862b;
    /* Green */
    color: white;
    /* Change text color to white for better readability */
}

.answer-btn.incorrect {
    background-color: #8d111e;
    /* Red */
    color: white;
}


.next-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 5% 0;
}

#next-btn-container {
    width: 20%;
    height: 50px;
    display: none;
}

/*---- Exit buttons on the exit game page----*/
.exit-button {
    width: 20%;
    margin-bottom: 20px;
}

/*---- Clear High Scores Button on the high score page ----*/
.clear-button {
    width: 20%;
}

/*---- High Scores List ----*/
#highScoresList {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2% 0;
}

#highScoresList li {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 120%;
}


/*---- End Game Button ----*/
.end-btn {
    width: 40%;
}

#username {
    width: 200px;
    background-color: #fff;
    border-radius: 5%;
    border: none;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 30px;
    margin: 0 0 5% 0%;
}

button#saveScoreBtn {
    background-color: #091f34;
}

button#saveScoreBtn:hover {
    opacity: 1;
    background-color: #fff;
    color: #091f34;
    border: 2px solid #091f34;
}

button#saveScoreBtn[:disabled]:hover {
    background-color: #091f34;
    color: #fff;
    border: 2px solid #091f34;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/*---- Content header on highscore and game setting page----*/
.score-header {
    padding: 0 0 0 25%;
}


/*---- Form elements on settings page----*/
input {
    width: 20px;
    height: 20px;
    background-color: #091f34;
}

label {
    margin-left: 20%;
}

/*----Media Query----*/

/*---------- Styling for screens with (min-width: 320px) and (max-width: 575px) ----------*/

@media (min-width: 320px) and (max-width: 575px) {

    /*---- Body ----*/
    body {
        background: url(../images/kung-fu-panda.jpg);
        position: relative;
        background-position: top;
        background-repeat: no-repeat;
    }

    /*---- Header container----*/
    #h1-container {
        width: 100%;
        height: 50%;
    }

    /*---- Logo ----*/
    #logo {
        width: 30%;
        height: 30%;
    }


    /*---- Content Container ----*/
    .content-body {
        width: 100%;
        height: auto;
    }

    /*---- Headings & text ----*/
    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 120%;
        margin: 0 10%;
    }

    h3 {
        font-size: 100%;
    }

    p {
        font-size: 90%;
    }


    /*---- Home page button container ----*/
    .wel-btn {
        display: block;
    }

    /*---- Home page buttons ----*/
    .welcome-btn {
        width: 50%;
        margin: 2%;
        font-size: 100%;
    }


    /*---- How to play content header container  ----*/
    .score-header {
        padding: 0 0 0 25%;
    }


    /*---- Power button container ----*/
    #cls-btn {
        padding: 0 10% 0 0;
    }

    /*---- Power button  ----*/
    .close-button {
        width: 30px;
        height: 30px;
        padding: 1% 0;
    }

    .close-button i {
        font-size: 110%;
    }

    /*---- Clear button on high score page ----*/
    .clear-button {
        width: 50%;
        font-size: 100%;
    }

    /*---- Difficulty header on the difficulty level page ----*/
    .difficulty-header {
        padding: 3%;
    }

    /*---- Difficulty level buttons ----*/
    .difficulty-button {
        width: 70%;
        font-size: 100%;
    }

    /*---- Game page question number heading ----*/
    #question-no {
        display: flex;
        justify-self: flex-start;
        padding: 5% 10% 5% 0;
    }

    /*---- Game page question container ----*/
    .question h2 {
        margin: 0 .8%;
    }

    /*---- Game page button container ----*/
    .btn-row {
        display: block;
    }

    #hud-q {
        padding-left: 5%;
    }

    #hud-q h2 {
        margin: 0;
    }

    #score-count-h2 {
        margin: 0;
        padding-left: 5%;
    }

    #score {
        margin: 0%;
    }

    /*---- Question counter ----*/
    #questionCounter {
        margin: 0;
    }

    /*---- Game page buttons ----*/
    .answer-btn {
        width: 200%;
        margin: 7%;
        font-size: 100%;
    }

    /*---- Exit button on the exit game page ----*/
    .exit-button {
        width: 50%;
        font-size: 100%;
    }

    /*---- Settings header container ----*/
    #settings-header {
        padding: 3%;
        justify-content: center;
    }

    /*---- Form elements container ----*/
    .setting {
        padding: 3%;
        margin: 4%;
    }

    /*---- Form elements on settings page ----*/
    label {
        margin: 0 0 0 5%;
    }

    input {
        margin: 0 5% 0 0;
    }


    /*---- Save settings button ----*/
    .settings-close {
        width: 50%;
        font-size: 100%;
    }

    /*---- End game button ----*/
    .end-btn {
        width: 100%;
        font-size: 100%;
    }

}

/*---------- Styling for screens with (min-width: 768px) and (max-width: 991px)----------*/

@media (min-width: 768px) and (max-width: 991px) {

    /*---- Body ----*/
    body {
        background: url(../images/kung-fu-panda.jpg);
        position: relative;
        background-position: top;
        background-repeat: no-repeat;
    }

    /*---- Header container----*/
    #h1-container {
        width: 60%;
    }

    /*---- Logo ----*/
    #logo {
        width: 30%;
        height: 30%;
    }


    /*---- Content Container ----*/
    .content-body {
        width: 100%;
        height: auto;
    }

    /*---- Headings & text ----*/
    h1 {
        font-size: 280%;
    }

    h2 {
        font-size: 150%;
        margin: 0 20%;
    }

    h3 {
        font-size: 130%;
    }

    p {
        font-size: 110%;
    }


    /*---- Home page button container ----*/

    /*---- Home page buttons ----*/
    .welcome-btn {
        width: 60%;
        margin: 4%;
        font-size: 100%;
    }


    /*---- How to play content header container  ----*/
    .score-header {
        padding: 0 0 0 25%;
    }

    /*---- Power button container ----*/
    #cls-btn {
        padding: 0 10% 0 0;
    }

    /*---- Power button  ----*/
    .close-button {
        width: 30px;
        height: 30px;
        padding: 1% 0;
    }

    .close-button i {
        font-size: 90%;
    }

    /*---- Clear button on high score page ----*/
    .clear-button {
        width: 30%;
        font-size: 100%;
    }

    /*---- Difficulty header on the difficulty level page ----*/
    .difficulty-header {
        padding: 3%;
    }

    /*---- Difficulty level buttons ----*/
    .difficulty-button {
        width: 70%;
        font-size: 100%;
    }

    /*---- Game page question number heading ----*/
    #question-no {
        display: flex;
        justify-self: flex-start;
        padding: 5% 20% 5% 0;
    }

    /*---- Game page question container ----*/
    .question h2 {
        margin: 0 1%;
    }

    #score-count-h2 {
        margin: 0;
        padding-left: 9%;
    }

    #score {
        margin: 0%;
    }

    #hud-q {
        padding-left: 5%;

    }

    #hud-q h2 {
        margin: 0;
    }

    #questionCounter {
        margin: 0;
    }

    /*---- Game page progress bar container ----*/
    #progressBar {
        margin: 4% 0;
    }

    /*---- Game page buttons ----*/
    .answer-btn {
        width: 90%;
        margin: 7%;
        font-size: 100%;
    }


    /*---- Exit button on the exit game page ----*/
    .exit-button {
        width: 20%;
        font-size: 100%;
    }

    /*---- Settings header container ----*/
    #settings-header {
        padding: 2% 20%;
        justify-content: center;
    }

    /*---- Form elements container ----*/
    .setting {
        padding: 3%;
        margin: 1%;
    }

    /*---- Form elements on settings page ----*/
    label {
        margin: 0 0 0 5%;
    }

    input {
        margin: 0 5% 0 0;
    }


    /*---- Save settings button ----*/
    .settings-close {
        width: 30%;
        font-size: 100%;
    }

    /*---- End game button ----*/
    .end-btn {
        width: 50%;
        font-size: 100%;
    }
}

/*---------- Styling for screens with (min-width: 992px) and (max-width: 1024px)----------*/

@media (min-width: 992px) and (max-width: 1024px) {

    /*---- Body ----*/
    body {
        background: url(../images/kung-fu-panda.jpg);
        background-position: top;
        position: relative;
        background-repeat: no-repeat;
    }

    /*---- Header container----*/
    #h1-container {
        width: 50%;
    }


    /*---- Content Container ----*/
    .content-body {
        width: 100%;
        height: auto;
    }

    /*---- Headings & text ----*/
    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 170%;
        margin: 0 20%;
    }

    h3 {
        font-size: 150%;
    }

    p {
        font-size: 120%;
    }


    /*---- Home page button container ----*/

    /*---- Home page buttons ----*/
    .welcome-btn {
        width: 50%;
        margin: 4%;
        font-size: 100%;
    }


    /*---- How to play content header container  ----*/
    .score-header {
        padding: 0 0 0 25%;
    }

    /*---- Power button container ----*/
    #cls-btn {
        padding: 0 10% 0 0;
    }

    /*---- Power button  ----*/
    .close-button {
        width: 40px;
        height: 40px;
        padding: .6%;
    }

    .close-button i {
        font-size: 140%;
    }

    /*---- Clear button on high score page ----*/
    .clear-button {
        width: 20%;
        font-size: 100%;
    }

    /*---- Difficulty header on the difficulty level page ----*/
    .difficulty-header {
        padding: 2%;
    }

    /*---- Difficulty level buttons ----*/
    .difficulty-button {
        width: 50%;
        font-size: 100%;
    }

    /*---- Game page question number heading ----*/
    #question-no {
        padding: 3% 20% 2% 0;
        margin-left: 0;
    }

    /*---- Game page question container ----*/
    .question h2 {
        margin: 0 1%;
    }

    #score-count-h2 {
        margin: 0;
        padding-left: 9%;
    }

    #score {
        margin: 0%;
    }

    #hud-q {
        padding-left: 5%;
    }

    #hud-q h2 {
        margin: 0;
    }


    #questionCounter {
        margin: 0;
    }

    /*---- Game page progress bar container ----*/
    #progressBar {
        margin: 4% 0;
    }

    /*---- Game page buttons ----*/
    .answer-btn {
        width: 80%;
        margin: 7%;
        font-size: 100%;
    }

    /*---- Exit button on the exit game page ----*/
    .exit-button {
        width: 20%;
        font-size: 100%;
    }

    /*---- Settings header container ----*/
    #settings-header {
        padding: 2% 0;
        justify-content: center;
    }

    /*---- Form elements container ----*/
    .setting {
        padding: 3%;
        margin: 1%;
    }

    /*---- Form elements on settings page ----*/
    label {
        margin: 0 0 0 5%;
    }

    input {
        margin: 0 5% 0 0;
    }


    /*---- Save settings button ----*/
    .settings-close {
        width: 20%;
        font-size: 100%;
    }

    /*---- End game button ----*/
    .end-btn {
        width: 40%;
        font-size: 100%;
    }
}


/*---------- Styling for screens with (min-width: 1025px) and (max-width: 1860px)----------*/

@media (min-width: 1025px) and (max-width: 1860px) {


    /*---- Body ----*/

    body {
        background: url(../images/kung-fu-panda.jpg);
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        font-family: "comic neue", cursive;
        background-color: #fff;
        color: #091f34;
        font-size: 1rem;
        line-height: 1.6;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    /*---- Text ----*/

    h1 {
        color: #091f34;
        font-family: 'comic neue', cursive;
        font-weight: 900;
        font-size: 3.3rem;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0);
    }

    h2 {
        font-family: 'comic neue', cursive;
        font-weight: 900;
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    h3 {
        font-family: 'comic neue', cursive;
        font-weight: 900;
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    p {
        font-weight: 400;
        font-size: 1.2rem;
        margin: 0;
    }


    /*---- Content container ----*/


    .content-body {
        margin: 50px 0 0 0;
        padding: 2%;
        height: fit-content;
        width: 80%;
    }

    /*---- Close button container ----*/
    .close-button {
        width: 40px;
        height: 40px;
        padding: 0.5%;
    }

    /*---- Close button  ----*/
    .close-button i {
        font-size: 140%;
        padding: 0;
    }

    /*Game page----*/

    .timer-board {
        margin: 3% 0 0 0;
        height: 80px;
    }
}